

.taskCard{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 300px;
}

.taskTitle{
  flex-grow: 1;
  text-align: left;
}

.taskButtons{
display: flex;
justify-content: center;
margin-left: 10px;

gap: 10px;

}