.form{
  text-align: center;
  border: solid red 2px;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.form input{
  width: 200px;
  height: 30px;
}

.form button{
  align-self: center;
  height: 25px;
}


